body {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border: 1px none red;
    background-color: cornflowerblue;
    }
h1 {color: rgb(12, 12, 82);
    text-align: center;
    text-transform: uppercase;
}
h2,h3 {
    color: rgb(72, 72, 85);
    }
.top-div {
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    background-color: darkcyan;
    border: 10px linen red;
}
.name_part1 {
    padding-left: 194px;
}
.morda {
float: left;
margin-right: 30px;
}
.main-text {
border: 10px linen red;
padding-right: 100 px;
text-align: justify;
}
.link {
    width: 50px;
    height: 50px;
    
    vertical-align: middle;
}