body {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border: 1px none red;
    background-color: cornflowerblue;
    }
h1 {color: rgb(30, 55, 94);
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    }
.name-part1 {
    color: rgb(72, 72, 85);
    padding-left: 194px;
    text-decoration: underline;
    }
.name-part2, .name-part3 {
    color: rgb(72, 72, 85);
    text-decoration: underline;
}
.top-div {
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    background-color: rgb(128, 194, 194);
    border: 10px double rgb(153, 194, 194);
    }
.morda {
    float: left;
    margin-right: 30px;
}
.main-text {
    border: 10px dashed red;
    padding-right: 100 px;
    text-align: justify;
}
.skills {
    list-style-image: url(../img/icons-skills.png);
}
.jobs {
    list-style-image: url(../img/icons-job.png);
}
.link {
    text-decoration: none;
}
.link-img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    }
